{% extends "base.html" %}

{% block content %}
<div class="container-fluid ">
    <div class="float-left information-container">
        <div class="information">
            <span>
                <h3>Inicie Sua Jornada de Design Arquitetônico</h3>
                <br>
                <br>
                <p>Sua visão é o nosso guia. Compartilhe suas inspirações, preferências e sonhos. Juntos, vamos criar um espaço único e especial para você.</p>
            </span>
        </div>
    </div>
    <div class="form-container  float-right"></div>
</div>   
{% endblock %}